.sidebar {
  z-index: 1000; /* 사이드바의 z-index 값을 높게 설정 */
}
/* 테이블에 스크롤 바 추가 */
table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

/* 코드 블록에 스크롤 바 추가 */
.highlight {
  overflow-x: auto;
}
